@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #09083f;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #9291f5;
}
.headerContainer{
    background-color: #2d2c5a;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardListContainer{
    /* display: grid;
    grid-template-columns: repeat(3, 34%);
    margin: 10px; */

}