@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #09083f;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #9291f5;
    background-image: url('../public/images/stormfather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    background-color: #142235;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardListContainer{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}
.cardContainer{
    display: flex;
    align-items: center;
    height: 500px;
    background-color: #142235;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    box-shadow: #94eebd30 0px 10px 20px, #55d7db3b 0px 6px 6px;
}