@import url('https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #09083f;
    font-family: 'Tiro Devanagari Sanskrit', serif;
    color: #aeadf5;
    background-image: url('../public/images/stormfather.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.headerContainer{
    background-color: #142235;
    height: 105px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scoreContainer{
    text-align: center;
    background-color: #142235;
    width: 18%;
    margin: auto;
    border: 1px solid #666562;
    border-top: none;
    border-radius: 0 0 8px 8px;
    font-size: 23px;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    /* font-weight: bold; */
}
.highScore{
    margin: 5px;
}
.cardListContainer{
    display: flex;
    justify-content: space-around;
    height: 85vh;
    align-items: center;
}
.cardContainer:hover{
    transform: scale(101%);
    box-shadow: #989e433b 0px 6px 6px, #b7b9963b  2px 0px 6px 6px;
}
.cardContainer{
    display: flex;
    align-items: center;
    height: 500px;
    background-color: #142235;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    box-shadow: #94eebd30 0px 10px 20px, #55d7db3b 0px 6px 6px;
}